html {
	font-family: 'Montserrat', sans-serif;
	background: #d2def0;
}

main {
	display: flex;
	margin-top: 5%;
}

header img {
	margin: 3% 0 0 3%;
}

.msg {
	border: none;
	font-size: 40px;
	width: 80%;
	height: 80%;
	margin-left: 25%;
	margin-top: 3%;
	line-height: 150%;
	word-wrap: initial;
	background: transparent;
}

.msg::placeholder {
	color: #0A3871;
}

 .aviso {
	align-items: center;
	position: absolute;
	width: 20rem;
	left: 10%;
	top: 80%;
	font-size: 0.6em;
}

.botoes {
	display: inline-flex;
	flex-direction: row;
	position: absolute;
	width: 60%;
	height: 4em;
	left: 10%;
	top: 85%;
}

.cripto {
	Width: 20rem;
	Height: 4rem;
	border-Radius: 24px;
	Padding: 15px;
	background: #0A3871;
	border: none;
	text-align: top;
	font-size: 18px;
}

.cripto:hover {
	transform: scale(1.1);
	transition: 1s;
	font-weight: bold;
	background-color: #052746;
}

.cripto p {
	color: white;
	position: static;
	font-size: 18px;
	line-height: 19px;
	text-align: center;
	flex: none;
	order: 0;
	flex-grow: 1;
	margin: 0px 8px;
}


.descripto {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 15px;
	position: static;
	width: 20rem;
	height: 4rem;
	margin-left: 40px;
	background: lightgrey;
	border: 1px solid grey;
	box-sizing: border-box;
	border-radius: 24px;

}

.descripto:hover {
	transform: scale(1.1);
	transition: 1s;
	font-weight: bold;
	background-color: #b7adad;
}

.descripto p {
	color: black;
	position: static;
	font-size: 18px;
	line-height: 19px;
	text-align: center;
	flex: none;
	order: 0;
	flex-grow: 1;
	margin: 8px 8px;
	border-color: #eeeeee;	
}

.texto {
	border: none;
	margin: 10% auto;
	width: 20em;
	height: 80%;
	font-size: 19px;
	text-align: center;
	background-image: url("produtos.png");
	background-repeat: no-repeat;
	background-position: center 1em, left top;
}

#retangulo {
	display: flex;
	border: none;
	position: absolute;
	width: 30%;
	height: 85%;
	left: 65%;
	top: 10%;
	background: #FFFFFF;
	border-radius: 32px;
}

.texto::placeholder {
	position: absolute;
	margin-top: 86%;
	margin-left: 15%;
	margin-right: 15%;
	word-wrap: initial;
	font-size: 18px;
	line-height: 1.5em;
	background:  transparent;
	font-weight: bold;
}

.copiar {
	position: absolute;
	right: 37%;
	top: 88%;
	width: 8rem;
	height: 2.5rem;
	font-size: 16px;
	border-radius: 14px;
	border-color: lightgray;
}

.copiar:hover {
	transform: scale(1.1);
	background-color: #b7adad;
	transition: 1.0s;
	font-weight: bold;
}

footer {
	position: static;
	margin-top: 8%;
	height: 6rem;
    text-align: center;
    line-height: 1em;
    background-color: #92afca;
    padding-bottom: 2px;
    color: white;

}

.redes {
	width: 28px;
	margin: 15px 15px 10px 0;
}